* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
header {
  background-color: #48c5ce;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

.title {
  font-size: 26px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.formContainer {
  max-width: 230px;
  background-color: #ffffffbb;
  padding: 20px;
  float: right;
}

.mb {
  margin-bottom: 20px;
}

.picture {
  width: 160px;
}

.footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}
.description {
  color: white;
  display: inline-block;
  text-align: left;
  max-width: 40%;
  margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}
.description h3{
    font-size: 24px;
}

.powered{
   color: white;
   float: right;
}

span{
    font-family:'Caveat', cursive;
    font-size: 20px;

}

input,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

section {
  padding: 20px;
  background-image: url(assets/images/people.jpg);
  background-size: cover;
  overflow: hidden;
}

input[type="submit"] {
  color: white;
  background-color: #48c5ce;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 16px;
}

select {
  appearance: none;
  background-image: url(assets/images/arrow.jpg);
  background-repeat: no-repeat;
  background-position: right center;
}
